.navcolor
    color: wheat
    font-size: 120%

h1
    color: wheat

a
    color: inherit
    text-decoration: inherit

.navbar-toggler
    border: none !important
    padding: 0.5rem 0.75rem
    font-size: 1.7rem
    
.navbar-toggler:focus
    box-shadow: none !important
    outline: none !important