<h2>Projects</h2>

<!-- <app-create-project></app-create-project> -->

<table class="table table-sm table-striped table-hover" *ngIf="projects.length; else noProjects">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th class="activeIssueCenter">Active Issues</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let project of projects" class="align-middle" >
            <td>{{project.name}}</td>
            <td>{{project.description}}</td>
            <td class="activeIssueCenter">{{project.activeIssues}} pcs</td>
            <td>
                <button class="btn btn-sm btn-success me-1" (click)="viewProject(project)">
                    <i class="bi bi-search"></i>
                </button>
                <button class="btn btn-sm btn-warning me-1" (click)="editProject(project)"> 
                    <i class="bi bi-pencil"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #noProjects>
    <div class="alert alert-warning text-center" role="alert">
        <i class="bi bi-info-circle"></i> No projects available.
    </div>
</ng-template>