<div class="card align-items-center" id="project-card-name">
  <div class="card-body">
    {{project.name}}
  </div>
</div>

<div class="row">
  <div class="mt-4 col-sm-6 mb-3 mb-sm-0" *ngFor="let details of projectDeatils.issues">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{details.title}}</h5>
        <p class="card-text">{{details.description}}</p>
        <p class="card-text">Priority: {{details.priority}}</p>
        <p class="card-text">Statsu: {{details.status}}</p>
      </div>
    </div>
  </div>
</div>

